-- Migration: User Roles and Symposium Speakers

-- 1. User Roles Table
-- This table allows you to assign 'admin' or 'superadmin' roles to specific users.
CREATE TABLE IF NOT EXISTS public.user_roles (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id uuid REFERENCES auth.users(id) ON DELETE CASCADE,
    email text NOT NULL,
    role text NOT NULL CHECK (role IN ('admin', 'superadmin')),
    created_at timestamptz DEFAULT now(),
    UNIQUE(user_id)
);

-- Enable RLS for user_roles
ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

-- Allow anyone to read roles (needed for UI to check if current user is admin)
CREATE POLICY "Allow public read access to user_roles" 
ON public.user_roles FOR SELECT 
USING (true);

-- Only superadmins (or authenticated users manually via SQL editor) can insert/update
CREATE POLICY "Allow role management for superadmins"
ON public.user_roles FOR ALL
USING (
    EXISTS (
        SELECT 1 FROM public.user_roles WHERE user_id = auth.uid() AND role = 'superadmin'
    )
);

-- 2. Symposium Speakers Table
-- This table stores dynamic tutor/speaker/panelist profiles for the Symposium page.
CREATE TABLE IF NOT EXISTS public.symposium_speakers (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    name text NOT NULL,
    role text NOT NULL,
    image_url text NOT NULL,
    event_category text NOT NULL, -- e.g., 'Workshop', 'Keynote', 'Panel'
    event_title text NOT NULL,
    location text NOT NULL,
    time text NOT NULL,
    date text NOT NULL,
    description text NOT NULL,
    fee text NOT NULL,
    capacity text NOT NULL,
    created_at timestamptz DEFAULT now()
);

-- Enable RLS for speakers
ALTER TABLE public.symposium_speakers ENABLE ROW LEVEL SECURITY;

-- Anyone can read speakers
CREATE POLICY "Allow public read access to speakers" 
ON public.symposium_speakers FOR SELECT 
USING (true);

-- Only admins/superadmins can manage speakers
CREATE POLICY "Allow speaker management for admins"
ON public.symposium_speakers FOR ALL
USING (
    EXISTS (
        SELECT 1 FROM public.user_roles WHERE user_id = auth.uid() AND role IN ('admin', 'superadmin')
    )
);

-- Note: Run this script in the Supabase SQL Editor. 
-- Afterwards, to make yourself an admin, run:
-- INSERT INTO user_roles (user_id, email, role) VALUES ('your-auth-user-id-here', 'your-email@example.com', 'superadmin');
